:root {

}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }

#self-image {
    block-size: 200px;
    flex-wrap: wrap;
    justify-content: baseline;
    border-radius: 10%;
    box-shadow: 6px 6px rgb(128, 143, 170);    
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .contact address a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }
  
  .contact address a:hover {
    background-size: 100% 88%;
    color: var(--secondary);
  }